= provide(:title, "Contact")


%h3 Video Volunteers – INDIA

House No. 1224 26/3,
Rua St. Joao
%br
Gaum Vaddy, Anjuna,
Bardez, Goa – 403509
%br
%br
Phone: +91 9657004865
%br
E-mail:  info@videovolunteers.org
 

%h3 Video Volunteers – USA

C/O Temin and Company
750 Lexington Avenue, 26th Floor
%br
New York, NY 10022
%br
%br
Phone: +1 646-505-8605
%br
E-mail: info@videovolunteers.org