%h2 Status
.table-responsive
  %table.table.table-bordered.table-striped#view-margin
    - @columns[:status].each do |column|
      %tr
        %td.col-sm-6
          %strong= name_modifier(column)
        %td.col-sm-6
          = @tracker.send(:"#{ column }")
